.pagination {
   color: blue;
   justify-content: center;
   font-size: larger;
}

.pagination__link {
    border: 1px solid blue;
    margin: 10px;
    border-radius: 5px;
    color: rgb(89, 91, 226);
    padding: 8px;
    background-color: black;
    font-size: larger;
}

.pagination__link--active {
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
}